// Colors
$primary: #000;
$secondary: #8A73A0;
$background: #5B3072;

.clock-label {
  font-size: 36px;
  color: $secondary;
  background: $background;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  text-shadow: 0 0 10px #000000;
}
.date-label {
  font-size: 16;
  color: $secondary;
  background: $background;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  text-shadow: 0 0 10px #000000;
}
.wifi-label {
  font-size: 16;
  color: $secondary;
  background: $background;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  text-shadow: 0 0 10px #000000;
}
.sidebar {
  font-size: 16;
  color: $secondary;
  background: $background;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  text-shadow: 0 0 10px #000000;
}
