[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
[user]
	name = Zedro 
	email = 45104292+PedroZappa@users.noreply.github.com 
[core]
	editor = nvim
[diff]
	submodule = log
[credential]
	helper = cache
[submodule]
	recurse = true
[alias]
	p = push
	pf = push --force
	undo = reset --soft HEAD^
	amend = commit --amend
[pull]
	rebase = true
